$colortext: #293241;
$orangeColor: #fc9c04;
$secondColortext: #293241;
$mainColor: #F5F5F5;
$backgroundColorComponent: #293241;
$backgroundColorComponentInputs: #F1F4FF;
$fontFamilyGlobal: 'Poppins', sans-serif;
