<footer>
  <section>
    <button [routerLink]="['/home']" class="secundarioBTN"><img src="/assets/chat-de-video.png" alt="Abrir tela de chatBoot"></button>
    <button [routerLink]="['/formulario-anomalias']"><img src="/assets/mais.png" alt="Abrir tela de Formulário" class="secundarioImg"></button>
    <button [routerLink]="['/home']" class="secundarioBTN"><img src="/assets/historico-medico.png" alt="Abrir tela de Historico"></button>
  </section>
  <section class="msg">
    <p>Serviço criado pela empresa IANES - © Todos os direitos reservados</p>
  </section>
</footer>
